<h1>Created Meetups</h1>
<% @created_meetups.each do |meetup| %>
  <h1>Event Name: <%= meetup.name %></h1>
  <h2>Description: <%= meetup.description %> </h2>
  <h2>Location: <%= meetup.location %> </h2>
<% end %>

<h1>Joined Meetups</h1>
<% @joined_meetups.each do |meetup| %>
  <h1>Event Name: <%= meetup.name %></h1>
  <h2>Description: <%= meetup.description %> </h2>
  <h2>Location: <%= meetup.location %> </h2>
  <h3>Creator: <%= meetup.owner.username %> </h3>
<% end %>


<span><a href='/'>Back</a></span>
